<div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Enter username">
            <div *ngIf="g.username.invalid && (g.username.dirty || g.username.touched)" class="alert alert-danger">
                <div *ngIf="g.username.errors?.required">
                    Username is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
            <div *ngIf="g.password.invalid && (g.password.dirty || g.password.touched)" class="alert alert-danger">
                <div *ngIf="g.password.errors?.required">
                    Password is required.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
