<div style="width: 100%;">
    <div class="page_title">
        <div class="row">
            <div class="col-md-6">
                <span class="welcome">Welcome {{ username }}</span>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <a routerLink="/info" class="btn btn-primary" style="margin-right: 20px;">User Info</a>
                <a routerLink="/cart" class="btn btn-primary" style="margin-right: 20px;">View Cart</a>
            </div>
        </div>
    </div>
    <div class="search">
        <p style="margin: 10px;">Search for ingredents</p>
        <div class="search-box">
            <form [formGroup]="searchForm" (ngSubmit)="handleSearch()" class="search_form">
                <input type="text" class="form-control col-md-3" formControlName="search_key">
                <button type="button" class="btn btn-primary" (click)="handleSearch()">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let meal of meals">
            <div class="meal-card">
                <p class="meal-name">{{meal.dish}}</p>
                <img src="{{meal.pic}}" alt="" width="100%">
                <div class="full-width meal-content">
                    <p>Price: ${{meal.price}} number of servings</p>
                    <input type="number" class="form-control" id="txtQuantity_{{meal.id}}">
                    <button type="button" class="btn btn-primary mt-2" (click)="handleAddCart(meal.id)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>