.welcome {
  font-size: 24px;
}

.page_title {
  margin: 10px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.search-box {
  margin: 10px;
}

.search_form {
  display: flex;
  width: 100%;
}

.meal-card {
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 10px;
}

.meal-name {
  padding: 10px;
}

.meal-content {
  padding: 10px;
}
